.infos-comp {
  .title {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    line-height: 24px;
    font-weight: normal;
  }
  .sub-title {
    line-height: 18px;
    white-space: pre-wrap;
    padding: 33px;
  }
  .footer {
    padding: 20px;
  }
  .list-box > li{
    font-family: aktiv-grotesk;
    font-weight: 400;
  }
}
