.work-comp {
  .post-link-box {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    position: relative;

    .post-link-content {
      opacity: 0.9;
      transition: all 0.23s ease;
      cursor: pointer;
      position: relative;
      margin-bottom: 30px;
    }
    &:hover {
      .post-link-content {
        opacity: 1;
        transform: scale(1.02);
        z-index: 2;
      }
    }
  }

  .post-image {
    width: 100%;
  }

  .my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px;
    width: auto;
    position: relative;
    z-index: 1;
    background: #fff;
  }
  .my-masonry-grid_column {
    padding-left: 30px;
    background-clip: padding-box;
  }

  .my-masonry-grid_column > div {
    background: grey;
    margin-bottom: 30px;
  }
}

.work-view-comp{
  .view-post-img-box{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .view-post-small-img-box{
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .work-text-wrap{
    position: relative;
  }
  .work-text-box{
    position: fixed;
    width:25%;
  }
  .work-img-wrap{
    margin-left:25%;
  }
}

@media screen and (max-width: 768px) {
  .work-view-comp{
    .work-text-box{
      position: relative;
      width:100%;
    }
    .work-img-wrap{
      margin-left:0%;
      padding-bottom:10%;
    }
  }
}