.content-wrap {
  margin-top: 72px;

  .fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity 1000ms;
  }

  .fade2-enter {
    opacity: 0;
  }
  .fade2-enter-active {
    opacity: 1;
    transition: opacity 1000ms;
  }
  .fade2-exit {
    opacity: 1;
  }
  .fade2-exit-active {
    opacity: 0;
    transition: opacity 0;
  }
  
}
