@import url("https://fonts.googleapis.com/css?family=Alata&display=swap");

body {
  margin: 0;
  font-family: "Alata", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Alata", sans-serif;
}

.clearfix {
  position: relative;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  position: absolute;
}

